# Official language image. Look for the different tagged releases at:
# https://hub.docker.com/r/library/python/tags/
image: python:3.9-buster

# Change pip's cache directory to be inside the project directory since we can
# only cache local items.
variables:
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"

# Pip's cache doesn't store the python packages
# https://pip.pypa.io/en/stable/reference/pip_install/#caching
#
# If you want to also cache the installed packages, you have to install
# them in a virtualenv and cache it as well.
cache:
  key: "$CI_PIPELINE_ID"
  paths:
    - .cache/pip
    - venv/

before_script:
  - python -V  # Print out python version for debugging
  - pip install virtualenv
  - virtualenv venv
  - source venv/bin/activate

build-job:
  stage: build
  script:
    - pip install -e .

run-pytest:
  stage: test
  script:
    - pip install pytest
    - pip install pyyaml
    - pip install crds
    - pytest

run-flake:
  stage: test
  script:
    - pip install flake8
    - venv/bin/python3 -m flake8 wfi_reference_pipeline/*

test-sphinx-docs:
  stage: test
  script:
    - pip install .
    - sphinx-build -b html doc/source doc/build
