*.asdf
*__pycache__*
*.idea
*.ipynb_checkpoints*
.pytest_cache
wfi_reference_pipeline/config/slack.yml
build/*
dist/*
*.egg-info/
.eggs/
version.py
doc/build/*
doc/source/api/*
.coverage
.coverage.*
reports/coverage.xml
