astropy==7.0.2
crds==12.1.8
matplotlib==3.10.3
numpy==2.2.6
pandas==2.2.3
photutils==2.2.0
pysiaf==0.24.1
PyYAML==6.0.2
requests==2.32.4
scipy==1.16.3
soc_roman_tools==0.1.0
stpsf==2.0.0
romancal==0.16.3
roman-datamodels==0.21.0
rad==0.21.0
asdf==3.3.0