astropy==5.3.4
crds==11.17.7
ipython==8.17.2
matplotlib==3.8.1
numpy==1.26.1
pandas==2.1.2
photutils==1.8.0
pysiaf==0.20.0
rad==0.17.1
requests==2.31.0
romancal==0.11.0
roman-datamodels==0.17.1
scipy==1.11.3
soc_roman_tools==0.1.0
